@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    background-color: #0D0D2B;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    
}

header{
    //margin: 50px;
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 120px;
    }

    .logo{
        img{
            padding-right: 16px;
        }
        a{
           display: flex;
           justify-content: space-between;
           align-items: center;
           text-decoration: none;
           color: white;
           letter-spacing: 0.04em;
           line-height: 22px;
           font-weight: 600;
           font-size: 18px;
           //padding-left: 10px;
        }
    }

    nav{
        display: flex;
        justify-content: space-around;
        
        ul{
           
            li{
                display:inline-block;
                padding:0px 10px;
                list-style: none;

                a{
                    text-decoration: none;
                    color: white;
                    letter-spacing: 0.01em;
                    font-size: 16px;
                    line-height: 28px;
                }

            }
        }

        .sign-in{
            display: flex;
            justify-content: center;
            //align-items: center;

            hr{
                height: 24px;
                border: 1px solid #F2F2F2;
                opacity: 0.3;
            }

            .login{
                padding: 0pc 24px;
                color: white;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-decoration: none;
            }

            .reg-cta{
               

                a{
                    padding:12px 32px;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    color: white;
                    background: #3671E9;
                    border-radius: 32px;
                    text-align: center;
                    margin-left: 24px;
                }
                

            }
        }
    }
    
}

.hero{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin:60px 120px;

        .left-col{
           .discount{
            background: rgba(255, 255, 255, 0.1);
            border-radius: 32px;
            width: max-content;
            padding: 8px 12px ;
            p{
                //background-color: white;
                color: white;
                letter-spacing: 0.01em;
                font-size: 16px;
                line-height: 20px;
                
            }

            span{
                background-color: #FFFFFF;
                padding: 4px 16px;
                border-radius: 30px;
                margin-left: -8px;
                margin-right: 8px;
                color: black;
               
            }
        }

     .try-cta{
        background-color: #3671E9;
        width:202px;
        border-radius: 32px;
        a{
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 16px 16px 24px;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;

            img{
                background-color: #FFFFFF;
                height: 32px;
                border-radius: 50%;
            }
            

        }
     }

    }


        h1{
            font-weight: 700;
            font-size: 64px;
            line-height: 76px;
            color: white;
            margin-top: 24px;
        }

        h5{
            color: white;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            margin-top: 24px;
            margin-bottom: 32px;
        }

        .right-col{
            position: relative;
            img{
                height: 585.15px;
                width:604px;
                z-index: 999;
            }
        }
    }
    .shapes{
        position: absolute;

    
        img{
            position: absolute;
            top: -700px;
            z-index: 99;
            background-color: transparent;

          
        }
        .slant1{
            position: absolute;
            top: -400px;
            left: 617px;
        }

        .slant2{
            position: absolute;
            top: -400px;
            left: 117px; 
        }
    }
}

.why-crappo{
    .num{
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
        margin-left: 120px;
        margin-right: 120px;
        .number{
            display: flex;
            justify-content: center;
            align-items: center;

            .text{
                margin-left: 24px;
                h3{
                    color: white;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 150%;
                }

                p{
                    color: #E0E0E0;
                    letter-spacing: 0.01em;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
    }

    .why-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 100px 70px 150px;

        .why{
           h2{
            color: white;
            font-weight: 700;
            font-size: 37px;
            line-height: 150%;
           }
           p{
            color: #E0E0E0;
            letter-spacing: 0.01em;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
           }

          button{
            border: none;
            outline: none;
            margin-top: 31.99px;
            background-color: #3671E9;
            padding: 16px 24px;
            border-radius: 32px;

            a{
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;
            }
          } 

          .shapes{
            position: absolute;

            .shape1{
                position: absolute;
                top: -250px;
                left: -800px;
            }

            .shape2{
                position: absolute;
                top: 10px;
                left: 400px;
            }

            .shape3{
                position: absolute;
                top: -480px;
                left: 360px;
            }
          }
        }
    }
}

.earn{
    .container{
        margin: auto;
        .heading{
            text-align: center;
            margin-bottom: 64px;
            h1{
                font-weight: 700;
                font-size: 40px;
                line-height: 150%;
                color: white;
                margin-bottom: 20px;
            }

            p{
                color: #E0E0E0;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
            }
        }
        .rate{
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
            background: #FBFCFE;
            padding: 25px;
            width: 800px;
            height: 100px;
            border-radius: 16px 16px 0px 0px;
            box-sizing: border-box;


            form{
                
                input[type=text]{
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #E0E0E0;
                    width: 300px;
                    padding-bottom: 10px;
                }
                ::placeholder{
                    font-size: 18px;
                    color: #0D0D2B;
                   
                }
                select{
                    width: 200px;
                    border: none;
                    outline: none;
                    background: #FBFCFE;
                    padding: 5px;
                    border-bottom: 1px solid #E0E0E0;
                    color: #0D0D2B;
                    font-size: 16px;
                }

                option{
                    background-color: white;
                    mix-blend-mode: normal;
                   
                }

              
            }
            a{
                text-decoration: none;
                background-color: #3671E9;
                padding:16px 32px;
                border-radius: 32px;
                color: white;
            }
        }
    }
}


.calculate{
    background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
    .container{
        background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
        height: 250px;
        .revenue{
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
            background-color: white;
            padding: 30px 55px;
            width: 800px;
            height: 150px;
            box-sizing: border-box;
            box-shadow: rgba(128, 114, 154, 0.5);
            //mix-blend-mode: overlay;
            box-shadow: 0px 80px 40px rgba(128, 114, 154, 0.05);
            border-radius: 0px 0px 16px 16px;

            h4{
                color: #3671E9;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;

            }
            h3{
                color: #0D0D2B;
                letter-spacing: 0.04em;
                font-weight: 700;
                font-size: 32px;
                line-height: 150%;

                span{
                    color: #3671E9;
                }
            }
            p{
                color: #828282;
                letter-spacing: 0.01em;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}


.cryptocurrency{
    background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);

    .heading{
        text-align: center;
        h1{
            color: #0D0D2B;
            font-weight: 700;
            font-size: 40px;
            line-height: 150%;
        }
    }
    .coin{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;
        margin: auto 120px;

        .btc,.eth, .lite{
            //background-color: red;
            text-align: center;
            margin: 64px auto 100px;

            .logo{
                margin: 48px auto;
            }

            .head{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 16px;  
            }

            p{
                margin-bottom: 25px;
            }

            .arrow{
                margin-bottom: 48px;
                background-color: white;
                height: 60px;
                border-radius: 50%;
                border: 2px solid rgba(43, 7, 110, 0.2);
            }
        }  

        .btc{
            background: #2B076E;
            backdrop-filter: blur(250px);
            border-radius: 16px;
            button{
                background-color: #3671E9;
                border-radius: 38px;
                border: none;
                margin-bottom: 48px;
                padding: 16px 16px 16px 16px;
                a{
                    text-decoration: none;
                    color: white;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 24px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                    img{
                        background-color: #FFFFFF;
                        height: 32px;
                        border-radius: 50%;
                }   } 
            }
            h3{
                color: white;
                font-weight: 700;
                font-size: 32px;
                line-height: 150%;
                margin-right: 8px;
            }
            h5{
                opacity: 0.7;
                color: white;
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
            }

            p{
                color: white;
                letter-spacing: 0.01em;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
            }
        }

        .eth, .lite{
           
            h3{
                color: #0D0D2B;
                font-weight: 700;
                font-size: 32px;
                line-height: 150%;
               margin-right: 8px;
            }
            h5{
                opacity: 0.7;
                color: #BDBDBD;
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
            }

            p{
                color: #828282;
                letter-spacing: 0.01em;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}

.features{
    background: #2B076E;
    position: relative;

    .container{
        background: #2B076E;
    }
    .oshape{
        position: absolute;
        top: 0px;
    }

    .heading{
        text-align: center;
        h1{
            color: white;
            font-weight: 700;
            font-size: 40px;
            line-height: 150%;
            padding-top: 100px;
        }
    }

    .row1{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 100px 120px;
        gap: 50px;

        .invest{
            margin-top: 20px;
        }
        h2{
            color: white;
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            margin-bottom: 24px;
        }

        P{
            margin-bottom: 42px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #E0E0E0;
        }

        a{
            background-color: #3671E9;
            padding: 20px;
            border-radius: 32px;
            padding: 16px 32px;
            text-decoration: none;
            color: white;
        }

        img{
            height: 427px;
            width: 580px;
        }
    }

    .row2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 89px;
        margin-right: 120px;

        h2{
            color: white;
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            margin-bottom: 24px;
        }

        P{
            margin-bottom: 42px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #E0E0E0;
        }

        a{
            background-color: #3671E9;
            padding: 20px;
            border-radius: 32px;
            padding: 16px 32px;
            text-decoration: none;
            color: white;
        }
    }

    .row3{
        display: flex;
        justify-content: space-evenly;
        margin: 120px 120px 0px ;
        position: relative;
        //gap: 64px;

        h2{
            color: white;
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            margin-bottom: 24px;
        }

        P{
            margin-bottom: 42px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #E0E0E0;
        }

        a{
            background-color: #3671E9;
            padding: 20px;
            border-radius: 32px;
            padding: 16px 32px;
            text-decoration: none;
            color: white;
        }

        img{
            width: 682px;
            height: 334px;
            margin-bottom: 200px;
        }
    }

    .circle{
        position: absolute;
        top: 80px;
        left:710px;

    }
}

.mining{
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
    position: relative;

    .container{
        background-color: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
        margin-bottom: 80px;
        position: relative;
        .box{
            display: flex;
            background-color: #3671E9;
            background-image: url(/Mask\ Group.svg);
            justify-content: space-around;
            align-items: center;
            background-size: contain;
            margin: auto;
            position: relative;
            width: 82%;
            height: 200px;
            border-radius: 16px;
            position: relative;
            

            h2{
                color: white;
                font-weight: 700;
                font-size: 32px;
                line-height: 150%;
                padding-bottom: 16px;
                margin: auto;

            }

            p{
                letter-spacing: 0.01em;
                color: white;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
            }

            .email{
                display: flex;
                justify-content: space-around;
                align-items: center;
                

                form{
                    input[type=text]{
                        width: 300px;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        padding: 5px;
                        color: #E0E0E0;
                        margin: 0px 20px;
                        
                    }
                    input[placeholder]{
                        color: #E0E0E0;
                        background-color: #3671E9;
                        border: none;
                        border-bottom: 1px solid #E0E0E0;
                        font-size: 16px;
                        line-height: 28px;
                    }

                    ::placeholder {
                        color: #E0E0E0;
                    }
                }

                button{
                    border: none;
                    outline: none;
                    background-color: white;
                    padding:14px 32px;
                    border-radius: 32px;
                    margin: 0px 20px;
                    text-align: center;

                    a{
                        text-decoration: none;
                        color: #0D0D2B;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 150%;
                    }
                }
            }
  
        }
    }
    .rectangle{
        .rec1{
            position: absolute;
            top: -80px;
            left: 400px;
        }

        .rec2{
            position: absolute;
            top: -80px;
            left: -10px;
        }
     }
}

footer{
    .container{
        margin-top: 200px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 200px 120px 100px;

        .payment{
            h1{
                font-weight: 500;
                font-size: 28px;
                line-height: 150%;
                color: white;
            }

            .card{
                display: flex;
                justify-content: space-around;
                gap: 24px;
                margin-top: 40px;
            }
        }

        .logo{
            a{
                display: flex;
                align-items: center;
                align-content: center;
                text-decoration: none;
                color: white;
                letter-spacing: 0.04em;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
            }

            img{
                padding-right: 16px;
            }
            
        }

        .quick, .resource{
            .head{
                text-decoration: none;
                color: white;
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
            }
            ul{
                margin-top: 24px;
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        color: #F2F2F2;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 38px;
                    }
                }
            }
        }
    }

    .minifooter{
        display: flex;
        justify-content: space-between;
        //margin: 0px 120px 100px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 120px;

        p{
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: white;
            }

        .socials{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
        }
    }
}